html {
    box-sizing: border-box;
}
body {     
    background-image: url("https://media.tenor.com/tsA9TRzPrjIAAAAC/felix-the-cat-cheers.gif");
    background-color: #000;
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-family: "Courier New";
    height: 100%;
    width: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    position: absolute;
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    padding: 16px;
}
li a:hover {
    background-color: white;
}
span {
    font-size: 18px;
    padding: 16px;
}
.wrapper {
    width: 100%;
    height: 100%;
    background-color: black;
    text-align: center;
}

.rainbowText {
    font-family:"Courier New";
    font-size:40px;
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    animation: move 35s linear infinite;
}
  
@keyframes move {
    to { background-position: 2000vh; }
}
